name: CICD

on:
  push:
    branches:
      - main
      - master
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Set Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Generate Deployment Package
        run: zip -r mnish-build.zip .

      - name: Deploy to Elastic Beanstalk ☁️
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: 'nodejs'
          environment_name: 'nodejs-env'
          region: us-east-1
          version_label: ${{ github.sha }}
          deployment_package: mnish-build.zip
